.pageBackground {
  height: 75vh;
  padding: 3rem;
  background-image: url("../assets/gray-stones-covered-moss-seamless-600nw-2113542878.webp");
  background-repeat: repeat;
}

p {
  color: white;
  font-size: 24px;
}
